name: Publish and Release

on:
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    env:
      python_ver: 3.11

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
    
      - name: Run generator file
        run: python generate.py

      - name: get version
        id: version
        uses: notiz-dev/github-action-json-property@release
        with: 
          path: 'data.json'
          prop_path: 'Version'

      - run: echo ${{steps.version.outputs.prop}} 

      - name: Publish
        if: success()
        uses: softprops/action-gh-release@v2
        with:
          files: 'data.json'
          tag_name: "v${{steps.version.outputs.prop}}"
          body_path: 'CHANGELOG.txt'
        env:
          GITHUB_TOKEN: ${{ secrets.gh_secret }}